body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('background.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  margin: 10px;
  margin-top: 10px;
}

.nav-items {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: large;
}

.icon-tray {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  list-style-type: none;
  cursor: pointer;
  margin-top: 250px;
  color: white;
  width: inherit;
  float: right;
}

.icon {
  padding: 3px;
  font-size: 20px;
}

a {
  color: #fffef8;
}

.landing-body {
  width: 80%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 110px;
}

.Landing-text {
  color: white;
  font-size: 70px;
  font-weight: 100;
  padding: 20px;
  text-align: center;
}

.name {
  color: white;
  margin: 10px;
}

.function {
  margin: 10px;
}

.function:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 5px #fffef8;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.landing-body {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link {
  text-decoration: none;
}

.About-Container {
  width: 80%;
  margin-left: 100px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.theme {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  flex: 1;
  margin-left: 20px;
  margin-top: 100px;
}

.myimg {
  max-width: 100%;
  height: auto;
  width: 500px;
  margin-top: -150px;
  border-radius: 1000px;
  box-shadow: 0 0 20px 10px rgba(236, 120, 38, 0.7);
}

.text-container {
  flex: 1;
  margin-right: 30px;
  margin-bottom: 50px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #f3eeee;
}

.Galcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: fadeIn 1s;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  padding: 50px;
}

.Galcontainer img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 10px 20px 40px rgba(241, 240, 240, 0.2);
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  margin-left: 50px;
  cursor: pointer;
}
.Galcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Galcontainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.modal-content {
  max-width: 500px;
  margin: auto;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.modal-overlay {
  background-color: rgba(252, 250, 250, 0.8);
}

.modal-close {
  color: white;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.custom-close-button{
  color: white;
}
.active {
 
  text-shadow: 3px 3px 5px #fffef8;
  
}